
          <div class=panel-title>
            <p>Damage</p>
          </div>
<div>
<p [title]="'Damage per turn'" style="cursor: help"><font color="#fde94f">DPT:</font> {{attack_speed | number:'1.1-1'}}
    <span *ngIf="brand_damage > 0"><font [style.color]="brand_color" >+{{brand_damage | number:'1.1-1'}}</font></span>
</p>
<p [title]="'Average damage of an attack. Max damage of an attack. This doesn\'t account weapon speed.'" style="cursor: help"><font color="#8f5902">AVG:</font> {{exp_damage | number:'1.1-1'}}, <font color="#8f5902">MAX:</font> {{max_damage | number:'1.1-1'}}</p>
<p [title]="'Speed measured in Auts. 10 Auts is 1 turn'" style="cursor: help"><font color="#8f5902">SPD:</font> {{w_speed | number:'1.1-1'}}</p>
</div>
