
<div class="panel">
    <span>
          <div class=panel-title>
            <p>Sample Enemy List</p>
          <span class="attr">
    Target Armour:
          </span>
    <button mat-icon-button color="primary" (click)=lessac()>
        <mat-icon>arrow_left</mat-icon>
    </button>
    <span class="menu">{{selectedEnemy.ac}}</span>
    <button mat-icon-button color="primary" (click)=moreac()>
        <mat-icon>arrow_right</mat-icon>
    </button>
          </div>

</span>

  <div class="title-box2 panel-title" >
      <!-- Enemy List -->
  </div>
  <mat-list style="overflow:auto; height:310px">
    <mat-list-item *ngFor="let enemy of enemyList ; let i = index" (click)="targetEnemy(enemy)" 
[ngbTooltip]="tipContent"
placement="top"
    >
        <ng-template #tipContent>
          <div class="enemy-tooltip">
          Name: {{enemy.display}} <br>
          HP:   <div class="enemy-values1">{{enemy.hp/10 | number:'1.0-0'}}</div> &#177; {{enemy.hp/10*0.33 | number:'1.0-0'}}<br>
          HD:   <div class="enemy-values1" > <!--<span [ngStyle]="{'color': dangerous(enemy.hd)}">--> {{enemy.hd}} </div><br> 
          <!-- XP:  <div class="enemy-values1">~{{calcXp(enemy.hd,enemy.speed,enemy.hp)| number:'1.0-0' }}</div> <br>-->
          AC:   <div class="enemy-values1">{{enemy.ac }}</div> ({{toPlus(enemy.ac)}})<br>
          EV:   <div class="enemy-values1">{{enemy.ev}}</div> ({{toPlus(enemy.ev)}})<br>
          MR:   <div class="enemy-values1">{{enemy.mr}}</div> ({{toPlusMr(enemy.mr)}})<br>

          Resist: <span *ngFor="let res of enemy.res"><span [ngStyle]="{'color': getResColor(res)}">{{res}}</span>, </span><br>
          Vulner: <span *ngFor="let vul of enemy.vul"><span [ngStyle]="{'color': getResColor(vul)}">{{vul}}</span>, </span><br>
</div>
        </ng-template>
        <span   
        style="padding-left:10px"  >
                <img src="https://raw.githubusercontent.com/crawl/crawl/master/crawl-ref/source/rltiles/{{enemy.image}}" 
                [ngClass]="{  'selected' : enemy.name==selectedEnemy.name }"
                > &nbsp; 
                <span [ngStyle]="{'color': dangerous(enemy.hd)}">
{{enemy.display}}
                </span>
        </span>
    </mat-list-item>
  </mat-list>
</div>

