
div
   font-family: "Courier New", Courier, monospace

.panel
   background-color: #040204,
   border-style: solid,
   border-color: #7d623c,
   border-width: 2px,
.enemy-tooltip
   text-align: left
   border-color: #7d623c
   border-width: 1px
   border-style: solid
   padding: 5px

span
   font-family: "Courier New", Courier, monospace
.selected 
   color: #65ff00
   #background-image: url(../../../../../assets/images/mons_border.png)
   background-image: url(src/assets/images/mons_border.png)
   background-size: 32px 32px

.menu
    color: #babdb6
    width: 20px
    height: 30px
    text-align: center
    display: inline-block

mat-list-item
   &:hover
      color: yellow
      background-color: #292829



div.enemy-values1
   display: inline-block
   width: 50px
   text-align: right
   #color: #babdb6,
div.enemy-values2
   display: inline-block
   color: #babdb6,
div.hack
   display: inline-block
   width: 450px