

<div class="panel">
    <span>
          <div class=panel-title>
            <p>Sample Enemy List</p>
          <span class="attr">
    Target Armour:
          </span>
    <button mat-icon-button color="primary" (click)=lessac()>
        <mat-icon>arrow_left</mat-icon>
    </button>
    <span class="menu">{{selectedEnemy.ac}}</span>
    <button mat-icon-button color="primary" (click)=moreac()>
        <mat-icon>arrow_right</mat-icon>
    </button>
          </div>

</span>

  <div class="title-box2 panel-title" >
      <!-- Enemy List -->
  </div>
  <mat-list>
    <mat-list-item *ngFor="let enemy of enemyList ; let i = index" (click)="targetEnemy(enemy)" 
[ngbTooltip]="tipContent"
    >
        <ng-template #tipContent>
          <div style="text-align: left;">
          <p>
          Name: {{enemy.display}} <br>
          HP:   {{enemy.hp}} <br>
          AC:   {{enemy.ac}} ({{toPlus(enemy.ac)}})<br>
          EV:   {{enemy.ev}} ({{toPlus(enemy.ev)}})<br>
          MR:   {{enemy.mr}} ({{toPlusMr(enemy.mr)}})<br>
          </p>

          <span>
          Resistances: {{enemy.resistances}}<br>
          Vulnerabilties: {{enemy.resistances}}<br>
          </span>
</div>
        </ng-template>
        <span   style="padding-left:0px" [ngClass]="{  'selected' : enemy.name==selectedEnemy.name }">
                <img src="../../../../../assets/images/monsters/{{enemy.name}}.png"> &nbsp; {{enemy.display}}
        </span>
    </mat-list-item>
  </mat-list>
</div>

