
div

.panel
   background-color: #040204,
   border-style: solid,
   border-color: #7d623c,
   border-width: 2px,

span
   color: #babdb6,
.selected 
   color: #65ff00
mat-list-item
   &:hover
      color: yellow
      background-color: #292829



