div
.panel
   background-color: black,
   border-style: solid,
   border-color: #7d623d,
   border-width: 5px,


.items
   margin-left: 35px
   margin-right: 35px
   color: #526b2d,
   font-family: "Lucida Console", Monaco, monospace,