
div
.panel
   background-color: #040204,
   border-style: solid,
   border-color: #7d623c,
   border-width: 2px,

.title-box
   padding-top: 15px
   padding-left: 15px
   color: #eeeeec,
.title-box2
   padding-left: 15px
   //color: #204a87

.items
   margin-left: 35px
   margin-right: 35px
   color: #4e9a06,
   font-family: "Lucida Console", Monaco, monospace,
      background-color: #292829

span
   color: #4e9a06,

.selected 
   color: #65ff00
.mouseo
   color: #8ae234

mat-list-item
   &:hover
      color: yellow
      background-color: #292829