<h3>Weapon List
  <!-- <button mat-raised-button color="primary" (click)=addWeapon() style="float: right;">+ weapon</button> -->
</h3>   
<div class="panel">
  <mat-list>
    <mat-list-item *ngFor="let weapon of weapons ; let i = index" (click)="selectWeapon(weapon)">
        <span [ngClass]="{  'selected' : weapon.name==selectedWeapon.name}"> 
          <span *ngIf="weapon.name != 'unarmed'" [ngClass]="{  'selected' : weapon.name==selectedWeapon.name}">
            a {{weapon.slaying}}
          </span> 
          {{weapon.name}}
          </span> 
        <span *ngIf="weapon.brand" [ngClass]="{  'selected' : weapon.name==selectedWeapon.name}">
          ({{weapon.brand}})
        </span>
    </mat-list-item>
  </mat-list>
</div>