
<div class="panel">
  <div class="title-box2 panel-title" >
    Hand Weapons
  </div>
  <mat-list>
    <mat-list-item *ngFor="let weapon of weapons ; let i = index" (click)="selectWeapon(weapon)">
        <span style="padding-left:20px"[ngClass]="{  'selected' : weapon.name==selectedWeapon.name}"> 
          <span *ngIf="weapon.name != 'unarmed'" [ngClass]="{  'selected' : weapon.name==selectedWeapon.name}">
            a {{weapon.slaying}}
          </span> 
          {{weapon.name}}
          </span> 
        <span *ngIf="weapon.brand" [ngClass]="{  'selected' : weapon.name==selectedWeapon.name}">
          ({{weapon.brand}})
        </span>
    </mat-list-item>
  </mat-list>
</div>