
div
.panel
   background-color: #040204,
   border-style: solid,
   border-color: #7d623c,
   border-width: 2px,
   min-height: 100%
   height: 100%

.title-box
   padding-top: 15px
   padding-left: 15px
   color: #eeeeec,
.title-box2
   padding-left: 15px
   //color: #204a87


 




span
   color: #4e9a06,

.selected 
   color: #65ff00

mat-list-item
   &:hover
      color: yellow
      background-color: #292829