<div>
    <form>
        <div class="form-group">
          <label for="exampleFormControlSelect1">add weapon</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <optgroup label="Short Blades">
            <option>quick blade</option>
            <optgroup label="Long Blades">
            <option>falchion</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Slaying</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>-4</option>
            <option>+0</option>
            <option>+2</option>
            <option>+3</option>
            <option>+4</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Brand</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Flaming</option>
            <option>Freezing</option>
          </select>
        </div>


    </form>

</div>