<div class="panel" style="min-height: 400px;">
  <div class="panel-title">
    <p style="">Skills</p>
  </div>

  <div>
      <ul>
        <li *ngFor="let skill of s_melee_temp" style="height: 20px;line-height:20px">
          <span [ngClass]="{  'selected' : skill==selectedSkill}" style="float: left;">
            {{s_melee[skill].display}}:
          </span>
          <span class="level" >

            <button (click)=lessb(skill)>
              <mat-icon style="width: 20px;height: 20px; font-size: 20px;">arrow_left</mat-icon>
            </button>
            <span class=level-text>
              {{s_melee[skill].level}}
            </span>
            <button (click)=moreb(skill)>
              <mat-icon style="width: 20px;height: 20px; font-size: 20px;">arrow_right</mat-icon>
            </button>
            </span>

        </li>
      </ul>
    </div>
  
  <div>
      <ul>
        <li *ngFor="let skill of s_ranged_temp" style="height: 20px;line-height:20px">
          <span [ngClass]="{  'selected' : skill==selectedSkill}" style="float: left;">
            {{s_melee[skill].display}}:
          </span>
          <span class="level" >

            <button (click)=lessb(skill)>
              <mat-icon style="width: 20px;height: 20px; font-size: 20px;">arrow_left</mat-icon>
            </button>
            <span class=level-text>
              {{s_melee[skill].level}}
            </span>
            <button (click)=moreb(skill)>
              <mat-icon style="width: 20px;height: 20px; font-size: 20px;">arrow_right</mat-icon>
            </button>
            </span>

        </li>
      </ul>
    </div>
  <div>
      <ul>
        <li *ngFor="let skill of s_spells_temp" style="height: 20px;line-height:20px">
          <span [ngClass]="{  'selected' : skill==selectedSkill}" style="float: left;">
            {{s_melee[skill].display}}:
          </span>
          <span class="level" >

            <button (click)=lessb(skill)>
              <mat-icon style="width: 20px;height: 20px; font-size: 20px;">arrow_left</mat-icon>
            </button>
            <span class=level-text>
              {{s_melee[skill].level}}
            </span>
            <button (click)=moreb(skill)>
              <mat-icon style="width: 20px;height: 20px; font-size: 20px;">arrow_right</mat-icon>
            </button>
            </span>

        </li>
      </ul>
    </div>
 
 

</div>