div.panel
   background-color: #040204,
   border-style: solid,
   border-color: #7d623c,
   border-width: 2px,
span
    color: #babdb6
    //font-family: "Prestige Elite", Monaco, monospace
    font-family: "Courier New", Monaco, monospace
    height: 30px

.selected 
   color: #65ff00
   //color: #eeeeec
span.skill
    height: 30px
    display: inline-block
span.level
    width: 20px
    height: 30px
    text-align: center
    display: inline-block

ul
    list-style: none
button
    color: purple
    background-color: #000000
    border: none
    height: 30px

