div.panel
   background-color: #040204,
   border-style: solid,
   border-color: #7d623c,
   border-width: 2px,
span
    color: #babdb6
    //font-family: "Prestige Elite", Monaco, monospace
    font-family: "Courier New", Monaco, monospace

.selected 
   color: #65ff00
   //color: #eeeeec
span.skill
    display: inline-block
span.level
    height:20px
    float: right

span.level-text
    text-align: center
    width: 20px
    display: inline-block
ul
    list-style: none
button
    padding: 0
    color: purple
    background-color: #000000
    border: none
    height: 20px
