.selected 
   color: #65ff00
   //color: #eeeeec
span.skill
    display: inline-block
span.level
    height:20px
    float: right

span.level-text
    text-align: center
    width: 30px
    display: inline-block
ul
    list-style: none
button
    padding: 0
    color: purple
    background-color: #000000
    border: none
    height: 20px
