<form  #heroForm="ngForm">
    <div class="form-group">
      <label for="name">Character File (copy paste your char dump text here)</label>
      <input type="text" class="form-control" id="name"
              [(ngModel)]="model.name" name="name"
              maxlength="20000"
              #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
        Name is required
      </div>
    </div>

  <button type="submit" class="btn btn-success" (click)=tryParser()>Submit</button> 
</form>
<div>


  <div style="float: left;">
    <p>
      <button mat-icon-button color="primary" (click)=lessxl()> <mat-icon>arrow_left</mat-icon> </button>
      XL: {{profile.xl}}
      <button mat-icon-button color="primary" (click)=morexl()> <mat-icon>arrow_right</mat-icon> </button>
    </p>
  </div>
  <div style="float: right;">
    <p>
      <button mat-icon-button color="primary" (click)=lessstr()> <mat-icon>arrow_left</mat-icon> </button>
      Str: {{profile.str}}
      <button mat-icon-button color="primary" (click)=morestr()> <mat-icon>arrow_right</mat-icon> </button>
      <br>
      <button mat-icon-button color="primary" (click)=lessint()> <mat-icon>arrow_left</mat-icon> </button>
      Int: {{profile.int}}
      <button mat-icon-button color="primary" (click)=moreint()> <mat-icon>arrow_right</mat-icon> </button>
      <br>
      <button mat-icon-button color="primary" (click)=lessdex()> <mat-icon>arrow_left</mat-icon> </button>
      Dex: {{profile.dex}}
      <button mat-icon-button color="primary" (click)=moredex()> <mat-icon>arrow_right</mat-icon> </button>
    </p>
</div>
</div>
