<div>
  <div class=panel-title>
    <p >Character</p>
  </div>
  <div class="name">
    <p>{{profile.name}} the {{profile.title}}</p>
    <p>{{profile.species}}</p>
  </div>
  <div class="row" style="padding-left:15px">
  <div style="float: left;" class="attr">
    <p>
      XL: 
      <button mat-icon-button color="primary" (click)=lessxl()> <mat-icon>arrow_left</mat-icon> </button>
      <span class="menu">{{profile.xl}}</span>
      <button mat-icon-button color="primary" (click)=morexl()> <mat-icon>arrow_right</mat-icon> </button>
    </p>
  </div>
  <div style="float: right;" class="attr">
      Str: 
      <button mat-icon-button color="primary" (click)=lessstr()> <mat-icon>arrow_left</mat-icon> </button>
      <span class="menu">{{profile.str}}</span>
      <button mat-icon-button color="primary" (click)=morestr()> <mat-icon>arrow_right</mat-icon> </button>
      <br>
      Int: 
      <button mat-icon-button color="primary" (click)=lessint()> <mat-icon>arrow_left</mat-icon> </button>
      <span class="menu">{{profile.int}}</span>
      <button mat-icon-button color="primary" (click)=moreint()> <mat-icon>arrow_right</mat-icon> </button>
      <br>
      Dex: 
      <button mat-icon-button color="primary" (click)=lessdex()> <mat-icon>arrow_left</mat-icon> </button>
      <span class="menu">{{profile.dex}}</span>
      <button mat-icon-button color="primary" (click)=moredex()> <mat-icon>arrow_right</mat-icon> </button>
</div>
</div>

  <div class="row" style="padding-left:15px">
    <p>
    <font class="attr">Mutations:</font>
    <br>
    <font class="attr">Slaying:</font>
      <button mat-icon-button color="primary" (click)=lessslaying()> <mat-icon>arrow_left</mat-icon> </button>
      <span class="menu">{{profile.slaying}}</span>
      <button mat-icon-button color="primary" (click)=moreslaying()> <mat-icon>arrow_right</mat-icon> </button>
    <br>
    <font class="attr">Wizardry</font>
      <button mat-icon-button color="primary" (click)=lesswiz()> <mat-icon>arrow_left</mat-icon> </button>
      <span class="menu">{{profile.wiz}}</span>
      <button mat-icon-button color="primary" (click)=morewiz()> <mat-icon>arrow_right</mat-icon> </button>
    <br>
    <font class="attr">Pot. of Brill:</font>
      <button mat-icon-button color="primary" (click)=lessbrill()> <mat-icon>arrow_left</mat-icon> </button>
      <span class="menu">{{profile.brilliance}}</span>
      <button mat-icon-button color="primary" (click)=morebrill()> <mat-icon>arrow_right</mat-icon> </button>

    </p>
  </div>
</div>
