<p>
  <button mat-icon-button color="primary" (click)=lessxl()>
    <mat-icon>arrow_left</mat-icon>
  </button>
  XL: {{profile.xl}}

  <button mat-icon-button color="primary" (click)=morexl()>
    <mat-icon>arrow_right</mat-icon>
  </button>
  <br>
  <button mat-icon-button color="primary" (click)=lessstr()>
    <mat-icon>arrow_left</mat-icon>
  </button>
  str: {{profile.str}}
  <button mat-icon-button color="primary" (click)=morestr()>
    <mat-icon>arrow_right</mat-icon>
  </button>
  <br>
  <button mat-icon-button color="primary" (click)=lessint()>
    <mat-icon>arrow_left</mat-icon>
  </button>
  int: {{profile.int}}
  <button mat-icon-button color="primary" (click)=moreint()>
    <mat-icon>arrow_right</mat-icon>
  </button>
  <br>
  <button mat-icon-button color="primary" (click)=lessdex()>
    <mat-icon>arrow_left</mat-icon>
  </button>
  dex: {{profile['dex']}}
  <button mat-icon-button color="primary" (click)=moredex()>
    <mat-icon>arrow_right</mat-icon>
  </button>
  <br>
</p>