<div class="row">
    <div class="col">
        <h3>To-do List</h3>
        Big items
        <ul>
            <li>Spell power calculator</li>
            <li>Hit chance affecting damage calculation</li>
            <li>XP calculator</li>
            <li>Defense calculator</li>
        </ul>
        Smaller items
        <ul>
            <li><mat-icon style="color:green;font-size:16px">check</mat-icon>Weapon cross training</li>
            <li><mat-icon style="color:green;font-size:16px">check</mat-icon>Enemy resistance affecting weapon brand</li>
            <li>Display poison damage</li>
            <li>button to add a new weapon to the list</li>
            <li>button to add a new monster to the list</li>
            <li>Add info for unrandarts</li>
            <li>Add mutation</li>
            <li>Add forms and how they affect UC</li>
            <li>Title changes based on skills</li>
        </ul>

    </div>
    <div class="col">
        <h3>Changelist</h3>
        <ul>
            <li>Changed default weapon and monster list</li>
            <li>Added this to-do list tab</li>
            <li>Fixed browser back button</li>
            <li>Fixed vorpal brand</li>
        </ul>
    </div>

</div>