<div class="row">
    <div class="col">
        <h3>To-do List</h3>
        <ul>
            <li>Weapon cross training</li>
            <li>Enemy resistance affecting weapon brand</li>
            <li>Spell power calculator</li>
            <li>Hit chance affecting damage calculation</li>
            <li>XP calculator</li>
            <li>Defense calculator</li>
        </ul>
    </div>
    <div class="col">
        <h3>Changelist</h3>
        <ul>
            <li>Added this to-do list tab</li>
            <li>Fixed browser back button</li>
            <li>Fixed vorpal brand</li>
        </ul>
    </div>

</div>