
.left {
    width: 50%;
    float:left;
    //border:1px solid #fff;
    min-height:25px;
    margin-right: 10px;
  }
.image {
    min-width: 55px;
    float:left;
    //border:1px solid #fff;
    min-height:25px;
    margin-right: 10px;
    margin-left: 5px;
  }