
.left {
    width: 50%;
    float:left;
    //border:1px solid #fff;
    min-height:25px;
    margin-right: 10px;
  }
.image {
    min-width: 27px;
    float:left;
    //border:1px solid #fff;
    min-height:25px;
    margin-right: 10px;
    margin-left: 5px;
  }
.enemy-tooltip {
  text-align: left;
  border-color: #7d623c;
  border-width: 1px;
  border-style: solid;
  min-width: 400px;
  padding: 5px;
  background-color: black;
}
.test1 {
  position: static
}
.test2 {
  position: relative
}