
<div class="container">
    <div class="row">
        <div class="col-sm-4">

            <h3>How to load a character file</h3>
            <p>To load your character file, you can press "#" in webtiles to generate the dump. It will give you an url to the character dump file. You can press "Ctrl-a" and then "Ctrl-c" in your keyboard to copy the whole content. 
                Then you paste on the above input box and submit. (note that on mac you use the command key instead of Ctrl)</p>
        </div>
        <div class="col-sm-4">
            <h3>About</h3>
            <p>This tool was first created to give a better idea of a weapon damage.
                I have always been intrigued by hit chance, so I will get to that eventually. 
                There will also be a spell power calculator.
                You can send bugs or requests to &lt;dcssfamiliar@gmail.com&gt;
            </p>

        </div>
        <div class="col-sm-4">
            <h3>What is DCSS?</h3>
            <p>Assuming you have no idea about DCSS you can go to http://crawl.develz.org/wordpress/. It is a dungeon crawl roguelike. It is played by downloading a client or in the browser (or by using a terminal)</p>
        </div>

    </div>

</div>