
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>About</h3>
            <p> <a href="https://github.com/ezmonkey4/dcssfamiliar-angular">github/ezmonkey4/dcssfamiliar-angular</a>
                <br>
                This tool was first created so that I could compare the damage of different weapons.
                It is still incomplete, since at some point I would like to have the calculations of the chance to-hit. 

                <br>
                <br>
                You can send bugs or requests to &lt;dcssfamiliar@gmail.com&gt;
                </p>

        </div>

        <div class="col-sm-4">

            <h3>How to load a character file</h3>
            <p>Watch a video tutorial: <a href="https://youtu.be/co9kUZUk6XQ" target="_blank">youtube link</a></p>
            <p>Quick guide: While playing DCSS, you can press "#" to generate the dump. It will give you an url/path to the character dump file. Go to that text file and select all with "Ctrl-a" and then copy with "Ctrl-c". 
                Then go to DCSS familiar (this website), paste the contents on the above input box, and submit. (note that on mac you use the command key instead of Ctrl)
            </p>
        </div>
        <div class="col-sm-4">
            <h3>What is DCSS?</h3>
            <p>Assuming you have no idea about DCSS you can go to http://crawl.develz.org/wordpress/. DCSS is a dungeon crawl roguelike. It is played by downloading a client or in the browser (or by using a terminal)</p>
        </div>

    </div>

</div>