/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}
body {
    background-color: #000000;
    //color: #e8e8e6;
    color: #babdb6;
    //font-family: "Consolas", Monaco, monospace
    font-family: "Monaco", Courier, monospace;
    height: 100%;
}
div.panel-title {
    padding-top: 15px;
    padding-left: 15px;
    color: #00b8e6;
}
span.attr {
    color: #8f5902;
}
span {
    color: #babdb6;
    //font-family: "Prestige Elite", Monaco, monospace;
    font-family: "Monaco", Courier, monospace;
}


div.attr {
    color: #8f5902;
}
div.panel {
   background-color: #040204;
   border-style: solid;
   border-color: #7d623c;
   border-width: 2px;
}

font.attr {
    color: #8f5902;
}
span.attr {
    color: #8f5902;
}
