<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content" role="main" style="padding-top:10px">
<div class="container" style="">
  <div class="row fill45" style="">
    <div class="col-4" style="position: relative;">
      <div class="row">
        <div class="card-container">
          <img src="../../../assets/images/DCSS_logo.png">
          <h1 style="float:right"> <font size="26" color="red">familiar</font></h1>
        </div>
      </div>

    <h3>Damage Calculator</h3>
      <div class="row">
        <app-paste-character></app-paste-character>
      </div>
      <div class="row">
        <app-share-url-button></app-share-url-button>
      </div>



    </div>
    <div class="col-sm">
      <app-skills-menu></app-skills-menu>
    </div>
    <div class="col-sm">
      <app-profile></app-profile>
    </div>

  </div>
      <div class="row fill10" style="">
      <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/attackdamage']" data-toggle="tab" id="weaponstab">Weapons</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link"  [routerLink]="['/spelldamage']" data-toggle="tab" id="spellstab">Spells</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/info']" data-toggle="tab" id="infotab">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/todo']" data-toggle="tab" id="infotab">To-do</a>
          </li>
        </ul>
      </div>


</div>

  <div class="container" style="background: #121212">
    <router-outlet></router-outlet>
  </div>

</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


