<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content" role="main">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <!-- Highlight Card -->
      <div>
        <img src="../../../assets/images/DCSS_logo.png">
        <h1 style="float:right"> <font size="26" color="red">familiar</font></h1>
    </div>

      <!-- Resources -->
      <h2>Navigation</h2>

      <div class="card-container">
        <a class="card" rel="noopener" [routerLink]="['/']">
          <span>Main </span>
        </a>
        <a class="card"  rel="noopener" [routerLink]="['/attackdamage']">
          <span>Weapon Damage</span>
        </a>
      </div>

    </div>
    <div class="col-sm-4">
      <app-skills-menu></app-skills-menu>
    </div>
    <div class="col-sm-4">
      <app-profile></app-profile>
    </div>
  </div>
</div>

  <div>

    <router-outlet></router-outlet>
  </div>

</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


